@import "responsive";

.flip-container, .front, .back, .firstText {
  width: 400px;
  height: 400px;
}
.flip-container img {
  max-width: 100%;
}
.frontImage {
  @include bookBorder(left);
  @include breakpoint(max-width, 960px) {@include vertBorder(top); };
}
#photoSet {
  position: relative;
  margin-top: 20%;
  margin-left: 15%;
}
/*flip speed goes here*/
.flipper {
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: right;
  @include breakpoint(max-width, 960px) { transform-origin: 0% -50%; };
  button {
    backface-visibility: hidden;
    position: absolute;
    z-index: 15;
    margin-top: 90%;
    &:hover {
      background-color: blue;
    }
  }
}
.flip {
  transform: rotateY(180deg);
  @include breakpoint(max-width, 960px) { transform: rotateX(-180deg); };
}
/*hide back of pane during swap*/
.front, .back {
  backface-visibility: hidden;
  position: absolute;
}
/*front pane, placed above back*/
.front {
  z-index: 2;
  transform: rotateY(0deg);
  transform: rotateX(0deg);
}
.back {
  height: 410px;
  background-color: $swGrey;
  padding-left: 10%;
  transform: rotateY(180deg);
  @include bookBorder(right);
  @include breakpoint(max-width, 960px) { transform: rotateX(180deg); transform-origin: 0% -48%; @include vertBorder(bottom); };
}
#firstText {
  height: 410px;
  width: 410px;
  padding: 15px;
  background-color: $swGrey;
  position: absolute;
  left: 400px;
  @include bookBorder(right);
  @include breakpoint(max-width, 960px) { left: 0px; top: 390px; @include vertBorder(bottom); };
}
#backBtn {
  left: 72%;
  top: 0%;
}
