@import "responsive";

.flip-container, .front, .back {
  width: 400px;
  height: 400px;
}
.flip-container img {
  max-width: 100%;
  // @include breakpoint(max-width, 960px) {width: 70%; height: 70%; };
}
.frontImage {
  @include bookBorder(right);
  @include breakpoint(max-width, 960px) {@include vertBorder(top); };
}
#photoSet {
  position: relative;
  margin-top: 20%;
  margin-left: 45%;
  @include breakpoint(max-width, 960px) { margin-top: 25%; margin-left: 5%; };
}
.flipper {
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
  -webkit-transform-origin: left;
  transform-origin: left;
  @include breakpoint(max-width, 960px) { transform-origin: 100% 400px; };
  button {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    z-index: 15;
    margin-top: 90%;
    margin-left: 75%;
    background-color: $acidGreen;
    &:hover {
      background-color: $holoBlue;
    }
  }
}
.flip {
  transform: rotateY(-180deg);
  @include breakpoint(max-width, 960px) { transform: rotateX(-180deg); };
}
/*hide back of pane during swap*/
.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
}
/*front pane, placed above back*/
.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  @include breakpoint(max-width, 960px) { transform: rotateX(0deg) };
}
.back {
  height: 410px;
  background-color: $swGrey;
  padding-left: 10%;
  transform: rotateY(-180deg);
  @include bookBorder(left);
  @include breakpoint(max-width, 960px) { transform: rotateX(180deg); @include vertBorder(bottom); };
}
#firstText {
  height: 410px;
  width: 410px;
  padding: 15px;
  background-color: $swGrey;
  position: absolute;
  left: -400px;
  @include bookBorder(left);
  @include breakpoint(max-width, 960px) { left: 0px; top: 390px; @include vertBorder(bottom); };
}
#backBtn {
  left: -75%;
  top: 0%;
}
