
.flip-container, .front, .back, .firstText {
  width: 400px;
  height: 300px;
}
.flip-container img {
  max-width: 100%;
}
#photoSet {
  position: relative;
  margin-top: 20%;
  margin-left: 30%
}
/*flip speed goes here*/
.flipper {
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: right;
  button {
    backface-visibility: hidden;
    position: absolute;
    z-index: 15;
    margin-top: 90%;
    &:hover {
      background-color: blue;
    }
  }
}

.flip {
  transform: rotateY(180deg);
}

/*hide back of pane during swap*/
.front, .back {
  height: 150%;
  backface-visibility: hidden;
  position: absolute;
}

/*front pane, placed above back*/
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  height: 400px;
  background-color: yellow;
  padding-left: 10%;
  /*transform-origin: left;*/
  transform: rotateY(180deg);
}
#firstText {
  position: absolute;
  left: 65%;
  top: 23%
  /*z-index: 0;*/
}
// #frontBtn {
//   position: absolute;
//   top: 100%;
// }
#backBtn {
  left: 72%;
  top: 0%;
}

#slideBook {
  // position: absolute;
  height: 120%;
  // left: -2%;
  // top: 45%;
  // z-index: -1;
}
#photoAlbum {
  position: absolute;
  height: 130%;
  left: -15%;
  top: -14%;
  z-index: -1;
}
