/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@import "responsive";

#starWarsContainer {
  background: #000 url('http://cdn.wallpapersafari.com/12/1/8X7tjF.jpg') no-repeat;
  overflow: hidden;
  height: 90vh;
  width: 100%;
  // margin: 0;
}
#webDev {
  position: absolute;
  visibility: hidden;
  top: 45%;
  left: 34%;
  font-family: 'STARWARS', sans-serif;
  font-size: 4em;
  -webkit-text-fill-color: 	#000; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $gold;
  animation: fadeIn 3s linear 10s forwards;
  @include breakpoint(max-width, 1300px) { font-size: 3em; };
  @include breakpoint(max-width, 650px) { left: 26%; };
}
#starWars {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 2.5em;
  font-weight: bold;
  text-align: justify;
  transform-origin: 50% 100%;
  transform: perspective(500px) rotateX(20deg);
  @include breakpoint(max-width, 1300px) { font-size: 1.5em; };
}
#swContent h2 {
  font-family: 'STARWARS', sans-serif;
  font-size: 1.2em;
  text-align: center;
}
#swContent {
  color: $gold;
  position: absolute;
  top: 100%;
  animation: scroll 70s linear 1s;
  @include breakpoint(max-width, 650px) { animation: scroll 40s linear 1s; };
}
/* set up lasers*/
.laser {
  position: absolute;
  visibility: hidden;
  height: 5px;
  width: 150px;
  transform-origin: bottom right;
}
#bike {
  @include laserShot($acidGreen, 125px, 20px);
  @include laseranimate(17s);
}
#book {
  @include laserShot(red, 425px, 20px);
  @include laseranimate(23s);
  @include breakpoint(max-height, 810px) {
    @include laserShot(red, 350px, 20px);
  }
}
#ins {
  @include laserShot(blue, 750px, 20px);
  @include laseranimate(21s, laserR);
  @include breakpoint(max-height, 810px) {
    @include laserShot(blue, 525px, 20px);
  }
}
#tea {
  @include laserShot(yellow, 400px, 500px, right);
  @include laseranimate(25s, laserR);
  animation-direction: reverse;
  @include breakpoint(max-height, 810px) {
    @include laserShot(yellow, 350px, 500px, right);
  }
}
#pizza {
  @include laserShot(purple, 400px, 500px, right);
  @include laseranimate(19s);
  animation-direction: reverse;
  @include breakpoint(max-height, 810px) {
    @include laserShot(purple, 300px, 350px, right);
  }
}
#reddit {
  @include laserShot($aqua, 600px, 700px, right);
  @include laseranimate(27s);
  animation-direction: reverse;
  @include breakpoint(max-height, 810px) {
    @include laserShot($aqua, 400px, 700px, right);
  }
}
$apps: bike book ins tea pizza reddit;
@each $app in $apps {
  ##{$app}App:hover {
    transform: scale(1.2)!important;
    visibility: visible ;
    animation: none;
  }
}
.apps {
  @include imageSize(hidden);
}
.afterHover {
  @include imageSize(visible);
}
// delay, color, top px, left/right px, default left,
#bikeApp {
  @include appAnimate(17.75s, $acidGreen, 5%, 5%);
}
#bookApp {
  @include appAnimate(23.75s, red, 37%, 5%);
}
#insApp {
  @include appAnimate(21.75s, blue, 77%, 5%);
}
#teaApp {
  @include appAnimate(25.5s, yellow, 5%, 5%, right);
}
#pizzaApp {
  @include appAnimate(19s, purple, 37%, 5%, right);
}
#redditApp {
  @include appAnimate(27.75s, $aqua, 77%, 5%, right);
}
#finger {
  @include fingerAnimate(28s);
}
