// $ npm run watch-css

@import "starwars";
@import "email";
@import "parallax";
@import "picture-book";
@import "responsive";

body {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #000080; /*navy*/
  @include breakpoint(max-width, 950px) {
    font-size: .8em;
  };
}
* {
  margin:0;
  padding:0;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
.footer {
  display: inline-flex;
  position: absolute;
  z-index:100;
  bottom: 0vh;
  top: auto;
  background-color: $grey; /*grey*/
  opacity: .9;
  color: #DEB887;
  width: 100%;
  font-size: 2em;
}
#footerName {
  margin-left: 45%;
}
#soundPlayer {
  margin: 1% 10%;
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #000;
}
.pic {
  height: 10%;
  width: auto;
  border-radius: 15%;
  padding: 0;
}
#aboutMe {
  font-family: 'STARWARS', sans-serif;
  -webkit-text-fill-color: 	#000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $gold;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 3em;
  color: $gold;
  text-shadow: 1px 1px 1px #000;
  @include breakpoint(max-width, 960px) { left: 0px; font-size: 2em };

}
#success {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 12%;
  flex-basis: fill;
}
.successContent {
  flex: 1 0 27%;
  margin: 2%;
  padding: 3%;
  padding-bottom: 0%;
  font-size: .8em;
  background-color: $gold;
  opacity: .5;
  color: #000;
  border-radius: 10%;
  box-shadow: 3px 3px 3px #000;
  @include breakpoint(max-width, 950px) {
      flex: 0 0 80%;
      margin: 2% 5%;
  };
  @include breakpoint(max-width, 500px) {
        margin-top: 10%;
        font-size: .3em;
  };
}
.sub {
  margin-left: 4%;
}
