/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "STARWARS";
  src: url("../fonts/STARWARS.eot?") format("eot"), url("../fonts/STARWARS.woff") format("woff"), url("../fonts/STARWARS.ttf") format("truetype"), url("../fonts/STARWARS.svg#STARWARS") format("svg");
  font-weight: normal;
  font-style: normal; }

/*set up app pictures*/
@keyframes point {
  0%, 100% {
    top: 60%;
    left: 45%; }
  50% {
    top: 70%;
    left: 45%; } }

@keyframes slide {
  0% {
    top: 150%;
    left: -100%; }
  100% {
    top: 50%;
    left: 25%; } }

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 1;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1.2); } }

@keyframes appear {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1); } }

@keyframes fingerView {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(-90deg) scale(1); } }

@keyframes scroll {
  0% {
    top: 98%; }
  100% {
    top: -150%; } }

@keyframes laserFire {
  0% {
    visibility: visible;
    opacity: .5;
    transform: skewY(15deg) scaleX(0.1) translate(6000px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: skewY(15deg) scaleX(2); } }

@keyframes laserR {
  0% {
    visibility: visible;
    opacity: .5;
    transform: skewY(145deg) scaleX(0.1) translate(6000px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: skewY(145deg) scaleX(2); } }

#starWarsContainer {
  background: #000 url("http://cdn.wallpapersafari.com/12/1/8X7tjF.jpg") no-repeat;
  overflow: hidden;
  height: 90vh;
  width: 100%; }

#webDev {
  position: absolute;
  visibility: hidden;
  top: 45%;
  left: 34%;
  font-family: 'STARWARS', sans-serif;
  font-size: 4em;
  -webkit-text-fill-color: #000;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFD700;
  animation: fadeIn 3s linear 10s forwards; }
  @media (max-width: 1300px) {
    #webDev {
      font-size: 3em; } }
  @media (max-width: 650px) {
    #webDev {
      left: 26%; } }

#starWars {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 2.5em;
  font-weight: bold;
  text-align: justify;
  transform-origin: 50% 100%;
  transform: perspective(500px) rotateX(20deg); }
  @media (max-width: 1300px) {
    #starWars {
      font-size: 1.5em; } }

#swContent h2 {
  font-family: 'STARWARS', sans-serif;
  font-size: 1.2em;
  text-align: center; }

#swContent {
  color: #FFD700;
  position: absolute;
  top: 100%;
  animation: scroll 70s linear 1s; }
  @media (max-width: 650px) {
    #swContent {
      animation: scroll 40s linear 1s; } }

/* set up lasers*/
.laser {
  position: absolute;
  visibility: hidden;
  height: 5px;
  width: 150px;
  transform-origin: bottom right; }

#bike {
  top: 125px;
  left: 20px;
  background-color: #7FFF00;
  animation: laserFire 1s ease-in 17s; }

#book {
  top: 425px;
  left: 20px;
  background-color: red;
  animation: laserFire 1s ease-in 23s; }
  @media (max-height: 810px) {
    #book {
      top: 350px;
      left: 20px;
      background-color: red; } }

#ins {
  top: 750px;
  left: 20px;
  background-color: blue;
  animation: laserR 1s ease-in 21s; }
  @media (max-height: 810px) {
    #ins {
      top: 525px;
      left: 20px;
      background-color: blue; } }

#tea {
  top: 400px;
  right: 500px;
  background-color: yellow;
  animation: laserR 1s ease-in 25s;
  animation-direction: reverse; }
  @media (max-height: 810px) {
    #tea {
      top: 350px;
      right: 500px;
      background-color: yellow; } }

#pizza {
  top: 400px;
  right: 500px;
  background-color: purple;
  animation: laserFire 1s ease-in 19s;
  animation-direction: reverse; }
  @media (max-height: 810px) {
    #pizza {
      top: 300px;
      right: 350px;
      background-color: purple; } }

#reddit {
  top: 600px;
  right: 700px;
  background-color: #00FFFF;
  animation: laserFire 1s ease-in 27s;
  animation-direction: reverse; }
  @media (max-height: 810px) {
    #reddit {
      top: 400px;
      right: 700px;
      background-color: #00FFFF; } }

#bikeApp:hover {
  transform: scale(1.2) !important;
  visibility: visible;
  animation: none; }

#bookApp:hover {
  transform: scale(1.2) !important;
  visibility: visible;
  animation: none; }

#insApp:hover {
  transform: scale(1.2) !important;
  visibility: visible;
  animation: none; }

#teaApp:hover {
  transform: scale(1.2) !important;
  visibility: visible;
  animation: none; }

#pizzaApp:hover {
  transform: scale(1.2) !important;
  visibility: visible;
  animation: none; }

#redditApp:hover {
  transform: scale(1.2) !important;
  visibility: visible;
  animation: none; }

.apps {
  height: 10%;
  width: 10%; }
  .apps img {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: 10%;
    border-radius: 15%; }

.afterHover {
  height: 10%;
  width: 10%; }
  .afterHover img {
    position: absolute;
    visibility: visible;
    height: auto;
    width: 10%;
    border-radius: 15%; }

#bikeApp {
  top: 5%;
  left: 5%;
  animation: appear 0.25s ease-in 17.75s forwards;
  border: 3px solid #7FFF00; }

#bookApp {
  top: 37%;
  left: 5%;
  animation: appear 0.25s ease-in 23.75s forwards;
  border: 3px solid red; }

#insApp {
  top: 77%;
  left: 5%;
  animation: appear 0.25s ease-in 21.75s forwards;
  border: 3px solid blue; }

#teaApp {
  top: 5%;
  right: 5%;
  animation: appear 0.25s ease-in 25.5s forwards;
  border: 3px solid yellow; }

#pizzaApp {
  top: 37%;
  right: 5%;
  animation: appear 0.25s ease-in 19s forwards;
  border: 3px solid purple; }

#redditApp {
  top: 77%;
  right: 5%;
  animation: appear 0.25s ease-in 27.75s forwards;
  border: 3px solid #00FFFF; }

#finger {
  animation: fingerView 0.25s ease-in 28s forwards, point 3s linear 28s infinite; }

@font-face {
  font-family: "STARWARS";
  src: url("../fonts/STARWARS.eot?") format("eot"), url("../fonts/STARWARS.woff") format("woff"), url("../fonts/STARWARS.ttf") format("truetype"), url("../fonts/STARWARS.svg#STARWARS") format("svg");
  font-weight: normal;
  font-style: normal; }

/*set up app pictures*/
@keyframes point {
  0%, 100% {
    top: 60%;
    left: 45%; }
  50% {
    top: 70%;
    left: 45%; } }

@keyframes slide {
  0% {
    top: 150%;
    left: -100%; }
  100% {
    top: 50%;
    left: 25%; } }

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 1;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1.2); } }

@keyframes appear {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1); } }

@keyframes fingerView {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(-90deg) scale(1); } }

@keyframes scroll {
  0% {
    top: 98%; }
  100% {
    top: -150%; } }

@keyframes laserFire {
  0% {
    visibility: visible;
    opacity: .5;
    transform: skewY(15deg) scaleX(0.1) translate(6000px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: skewY(15deg) scaleX(2); } }

@keyframes laserR {
  0% {
    visibility: visible;
    opacity: .5;
    transform: skewY(145deg) scaleX(0.1) translate(6000px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: skewY(145deg) scaleX(2); } }

#myModal {
  top: 32%;
  left: -25%; }
  @media (max-width: 770px) {
    #myModal {
      top: 15%;
      left: 5%; } }
  #myModal .modal-dialog {
    width: 30%;
    height: 15%; }
    @media (max-width: 770px) {
      #myModal .modal-dialog {
        width: 100%; } }
  #myModal .modal-content {
    background-color: green;
    font-size: .7em; }

.modal-backdrop.fade.in {
  z-index: -1; }

#contactMe {
  margin-top: -62%;
  margin-left: 100px;
  font-size: 3em;
  color: #60cbff; }
  @media (max-width: 1300px) {
    #contactMe {
      margin-top: -92%; } }
  @media (max-height: 770px) {
    #contactMe {
      margin-top: -59%; } }
  @media (max-height: 810px) {
    #contactMe {
      margin-top: -72%; } }
  @media (max-width: 1200px) {
    #contactMe {
      margin-top: -90%; } }
  @media (max-width: 770px) {
    #contactMe {
      margin-top: -145%; } }
  @media (max-width: 500px) {
    #contactMe {
      margin-top: -209%; } }

#email {
  height: 10%;
  width: auto;
  margin-top: 20%; }
  @media (max-width: 500px) {
    #email {
      margin-top: 40%;
      margin-left: 8%; } }

#linkedin {
  margin-top: -27%;
  height: 15%; }
  @media (max-width: 500px) {
    #linkedin {
      margin-top: -120%;
      margin-left: 8%; } }

#github {
  margin-top: -48%;
  height: 20%;
  background-color: #fff;
  border-radius: 50%; }
  @media (max-width: 500px) {
    #github {
      margin-top: -165%;
      margin-left: 5%; } }

#email:hover, #linkedin:hover, #github:hover {
  transform: scale(1.2);
  box-shadow: 4px 4px 4px 4px #60cbff; }

/* Parallax base styles
    --------------------------------------------- */
.parallax {
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  font-size: 200%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px; }

.parallax__group {
  position: relative;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/*goes in order of closest and fastest to furthest and slowest*/
.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1; }

.parallax__layer--base {
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  z-index: 4; }

.parallax__layer--script {
  height: 10%;
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  z-index: 4; }

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3; }

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
  -moz-transform: translateZ(-600px); }

/* style the groups
    --------------------------------------------- */
#group1 {
  z-index: 1;
  /* slide over group 2 */ }
  #group1 .parallax__layer--deep {
    background-image: url("http://cdn.wallpapersafari.com/12/1/8X7tjF.jpg"); }

#group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */ }
  #group2 .parallax__layer--base {
    background-image: url("http://img.lum.dolimg.com/v1/images/open-uri20150608-27674-obj7u0_7c60f729.jpeg?region=0%2C0%2C1200%2C513");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

#group4 {
  z-index: 2;
  /* slide under group 3 and 5 */ }
  #group4 .parallax__layer--back {
    top: -65%;
    background-image: url("https://i.ytimg.com/vi/pUaxXsqGeFI/maxresdefault.jpg");
    background-size: contain; }

#group5 {
  z-index: 2;
  /* slide under group 5 and 7 */ }
  #group5 .parallax__layer--back {
    background: url("../images/starwars_last.jpg");
    background-size: cover; }

@font-face {
  font-family: "STARWARS";
  src: url("../fonts/STARWARS.eot?") format("eot"), url("../fonts/STARWARS.woff") format("woff"), url("../fonts/STARWARS.ttf") format("truetype"), url("../fonts/STARWARS.svg#STARWARS") format("svg");
  font-weight: normal;
  font-style: normal; }

/*set up app pictures*/
@keyframes point {
  0%, 100% {
    top: 60%;
    left: 45%; }
  50% {
    top: 70%;
    left: 45%; } }

@keyframes slide {
  0% {
    top: 150%;
    left: -100%; }
  100% {
    top: 50%;
    left: 25%; } }

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 1;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1.2); } }

@keyframes appear {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1); } }

@keyframes fingerView {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(-90deg) scale(1); } }

@keyframes scroll {
  0% {
    top: 98%; }
  100% {
    top: -150%; } }

@keyframes laserFire {
  0% {
    visibility: visible;
    opacity: .5;
    transform: skewY(15deg) scaleX(0.1) translate(6000px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: skewY(15deg) scaleX(2); } }

@keyframes laserR {
  0% {
    visibility: visible;
    opacity: .5;
    transform: skewY(145deg) scaleX(0.1) translate(6000px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: skewY(145deg) scaleX(2); } }

.flip-container, .front, .back {
  width: 100%;
  height: 100%; }

.flip-container img {
  max-width: 100%; }

.frontImage {
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  border-top: 10px solid #A0522D;
  border-right: 10px solid #A0522D;
  border-bottom: 10px solid #A0522D;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em; }
  @media (max-width: 960px) {
    .frontImage {
      border-bottom-right-radius: 1em;
      border-bottom-left-radius: 1em;
      border-bottom: hidden;
      border-left: 10px solid #A0522D;
      border-right: 10px solid #A0522D;
      border-top: 10px solid #A0522D;
      border-top-left-radius: 2em;
      border-top-right-radius: 2em; } }

#photoSet {
  position: relative;
  width: 400px;
  height: 400px;
  margin-top: 20%;
  margin-left: 45%; }
  @media (max-width: 960px) {
    #photoSet {
      margin-top: 25%;
      margin-left: 5%;
      width: 300px;
      height: 300px; } }

.flipper {
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
  -webkit-transform-origin: left;
  transform-origin: left; }
  @media (max-width: 960px) {
    .flipper {
      transform-origin: 100% 298px; } }
  .flipper button {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    z-index: 15;
    background-color: #7FFF00; }
    .flipper button:hover {
      background-color: #60cbff; }
  @media (max-width: 960px) {
    .flipper h2 {
      font-size: 20px; } }

.flip {
  transform: rotateY(-180deg); }
  @media (max-width: 960px) {
    .flip {
      transform: rotateX(-180deg); } }

/*hide back of pane during swap*/
.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute; }

/*front pane, placed above back*/
.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }
  @media (max-width: 960px) {
    .front {
      transform: rotateX(0deg); } }

.back {
  height: 410px;
  background-color: #9da09e;
  padding-left: 10%;
  transform: rotateY(-180deg);
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  border-top: 10px solid #A0522D;
  border-left: 10px solid #A0522D;
  border-bottom: 10px solid #A0522D;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em; }
  @media (max-width: 960px) {
    .back {
      transform: rotateX(180deg);
      height: 305px;
      border-top-right-radius: 1em;
      border-top-left-radius: 1em;
      border-top: hidden;
      border-left: 10px solid #A0522D;
      border-right: 10px solid #A0522D;
      border-bottom: 10px solid #A0522D;
      border-bottom-left-radius: 2em;
      border-bottom-right-radius: 2em; } }

#firstText {
  height: 102%;
  width: 102%;
  padding: 15px;
  background-color: #9da09e;
  position: absolute;
  left: -400px;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  border-top: 10px solid #A0522D;
  border-left: 10px solid #A0522D;
  border-bottom: 10px solid #A0522D;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em; }
  @media (max-width: 960px) {
    #firstText {
      left: 0px;
      top: 290px;
      border-top-right-radius: 1em;
      border-top-left-radius: 1em;
      border-top: hidden;
      border-left: 10px solid #A0522D;
      border-right: 10px solid #A0522D;
      border-bottom: 10px solid #A0522D;
      border-bottom-left-radius: 2em;
      border-bottom-right-radius: 2em; } }

#backBtn {
  left: 10%;
  top: 90%; }

#frontBtn {
  left: 65%;
  top: 90%; }

@font-face {
  font-family: "STARWARS";
  src: url("../fonts/STARWARS.eot?") format("eot"), url("../fonts/STARWARS.woff") format("woff"), url("../fonts/STARWARS.ttf") format("truetype"), url("../fonts/STARWARS.svg#STARWARS") format("svg");
  font-weight: normal;
  font-style: normal; }

/*set up app pictures*/
@keyframes point {
  0%, 100% {
    top: 60%;
    left: 45%; }
  50% {
    top: 70%;
    left: 45%; } }

@keyframes slide {
  0% {
    top: 150%;
    left: -100%; }
  100% {
    top: 50%;
    left: 25%; } }

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 1;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1.2); } }

@keyframes appear {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1); } }

@keyframes fingerView {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.1); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(-90deg) scale(1); } }

@keyframes scroll {
  0% {
    top: 98%; }
  100% {
    top: -150%; } }

@keyframes laserFire {
  0% {
    visibility: visible;
    opacity: .5;
    transform: skewY(15deg) scaleX(0.1) translate(6000px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: skewY(15deg) scaleX(2); } }

@keyframes laserR {
  0% {
    visibility: visible;
    opacity: .5;
    transform: skewY(145deg) scaleX(0.1) translate(6000px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: skewY(145deg) scaleX(2); } }

body {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #000080;
  /*navy*/ }
  @media (max-width: 950px) {
    body {
      font-size: .8em; } }

* {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  height: 100vh; }

.footer {
  display: inline-flex;
  position: absolute;
  z-index: 100;
  bottom: 0vh;
  top: auto;
  background-color: #2F4F4F;
  /*grey*/
  opacity: .9;
  color: #DEB887;
  width: 100%;
  font-size: 2em; }

#footerName {
  margin-left: 45%; }

#soundPlayer {
  margin: 1% 10%; }

.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #000; }

.pic {
  height: 10%;
  width: auto;
  border-radius: 15%;
  padding: 0; }

#aboutMe {
  font-family: 'STARWARS', sans-serif;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFD700;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 3em;
  color: #FFD700;
  text-shadow: 1px 1px 1px #000; }
  @media (max-width: 960px) {
    #aboutMe {
      left: 0px;
      font-size: 2em; } }

#success {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 12%;
  flex-basis: fill; }

.successContent {
  flex: 1 0 27%;
  margin: 2%;
  padding: 3%;
  padding-bottom: 0%;
  font-size: .8em;
  background-color: #FFD700;
  opacity: .5;
  color: #000;
  border-radius: 10%;
  box-shadow: 3px 3px 3px #000; }
  @media (max-width: 950px) {
    .successContent {
      flex: 0 0 80%;
      margin: 2% 5%; } }
  @media (max-width: 500px) {
    .successContent {
      margin-top: 10%;
      font-size: .3em; } }

.sub {
  margin-left: 4%; }
