
body {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #000080; /*navy*/
}

* {
  margin:0;
  padding:0;
}

.wrapper {
  width: 100%;
  height: 100vh;
}
.brand {
  position: absolute;
  /*font-size: 3em;*/
  font-family: 'STARWARS', sans-serif;
}
/*nav {
  position: absolute;
  margin: 10% 10%;
}*/
#navButton {
  background-color: white;
}
.navB{
  background-color: #0099cc;
}
.navbar {
  /*position: absolute;*/
  color: #000;
  margin: 0 auto;
  width: 98%;
  background-color: #0099cc;
  box-shadow: inset 2px -2px #004d66;
  z-index: 3;
}
a {
  color: #e6f9ff;
}
.navbar-nav li {
  margin-top: 10%;
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #000;
}
.title {
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  text-shadow: 1px 1px 1px #000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.success {
  list-style-image: &#xf1a3;
  color: #fff;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  text-shadow: 1px 1px 1px #000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*.title .coding {
  color: black;
}*/
#aboutMe {
  margin-left: 100px;
  font-size: 3em;
}
#contactMe {
  margin-top: -72%;
  margin-left: 100px;
  font-size: 3em;
}

.pic {
  height: 10%;
  width: auto;
}
#email {
  margin-top: 20%;
}
#linkedin {
  margin-top: -32%;
  height: 15%;
}
#github {
  margin-top: -55%;
  height: 20%;
}
