

  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    font-size: 200%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /*goes in order of closest and fastest to furthest and slowest*/
  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    -moz-transform: translateZ(-600px);
    z-index: 2;
  }

  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 1; /* slide over group 2 */
  }
  #group1 .parallax__layer--deep {
    background: rgb(102,204,102) url('http://cdn.wallpapersafari.com/12/1/8X7tjF.jpg');
  }

  #group2 {
    /*margin-top: 20%;*/
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--base {
    background: rgb(123,210,102) url('https://images.alphacoders.com/450/45061.jpg');
  }



  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--back {
    top: -65%;
    background: orange;
  }

  /*#group5 {
    z-index: 3; /* slide over group 4 and 6
  }*/
  /*#group5 .parallax__layer--deep {
    background: rgb(214,229,100) url('../images/MMRFredsRace.jpg');
  }*/

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    background: rgb(245,235,100) ;
  }

  /*#group7 {
    z-index: 3;
  }
  #group7 .parallax__layer--back {
    background: rgb(255,241,100) url('../images/TeamPursuitGold.jpg');
  }*/


  /* misc
  --------------------------------------------- */

  .apps {
    height: 10%;
    width: 10%;

  }
  .apps img {
    height: auto;
    position: absolute;
    width: 10%;
    border-radius: 15%;
    margin-top: 30%;
  }
