
.flip-container, .front, .back, .firstText {
  width: 400px;
  height: 300px;
}
#photoSet {
  position: relative;
  margin-top: 20%;
  margin-left: 30%
}
.flip-container img {
  max-width: 100%;
}
/*flip speed goes here*/
.flipper {
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: right;
}
.flip {
  transform: rotateY(180deg);
}

/*hide back of pane during swap*/
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top:20;
  left: 20;
}

/*front pane, placed above back*/
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  /*transform-origin: left;*/
  background-color: yellow;
  padding-left: 10%;
  /*transform-origin: left;*/
  transform: rotateY(180deg);
}
#firstText {
  /*background-color: blue;*/
  position: absolute;
  margin-left: 35%;
  margin-top: -23%
  /*z-index: 0;*/

}
.flipper button {
  backface-visibility: hidden;
  position: absolute;
  z-index: 15;
  margin-top: 60%;
}
.backBtn {
  margin-left: 80%;
}

#slideBook {
  position: absolute;
  height: 130%;
  left: -7.5%;
  top: -10%;
  z-index: -1;
}
#aboutMe {
  margin-top: 5%;
  margin-left: 100px;
  font-size: 3em;
}
