<div id="photoSet">
  <div class="flip-container" >

    <div class="flipper"  ng-repeat="slide in turn.slides">
      <button  id="frontBtn" ng-click="turn.advance($index)" type="button">next</button>

      <div class="front pic{{ $index }}" >
        <img class="frontImage" ng-src="{{slide.image}}" alt="sprint" />
      </div>

      <div class="back pic{{ $index }}">
        <h2> {{slide.text}}</h2>
        <button id="backBtn" ng-click="turn.goBack($index +1)" type="button">previous</button>
      </div>
    </div>

    <!-- <div id="photoAlbum"> -->
      <div id="firstText"> I grew up in Oak Harbor, WA.  When I was in junior high, my dad bought me a TRS-80 computer from Radio Shack.  </div>
    <!-- </div> -->
  </div>
</div>
